.banner {
  background-size: cover;
  background-position: center;
  background-image: url("https://arthur-littm.github.io/startup-landing/images/background.png");
  padding: 200px 0;
}

.banner-container {
  color: white;
  /* width: 900px;
  margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 150px;
}

.banner-container h1 {
  font-size: 1.8em;
}
